.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .youtubeContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;

    h4 {
      width: 100%;
      font-size: 1.2rem;
      color: var(--basic-dark);
      margin-top: 3rem;
      margin-bottom: 5rem;
      border-bottom: 0.5px solid var(--form-color);
      padding: 1rem 0;
    }

    .contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;

            a {
              width: 90%;
              margin: 2rem 0;
          
              li {
                width: 100%;
                border: 1px solid #eee;
                border-radius: 5px;
                box-sizing: border-box;
                margin-bottom: 1.5rem;
          
                img {
                  width: 100%;
                  height: auto;
                  border-top-left-radius: 5px;
                  border-top-right-radius: 5px;
                }
          
                .textGroup {
                  padding: 1rem;
          
                  .title {
                    font-size: 2rem;
                    color: var(--main-color);
                    margin: 1rem 0;
                  }
          
                  .channel {
                    font-size: 1.4rem;
                    padding: 0.5rem 1rem;
                    color: var(--reverse-font);
                    background: var(--basic-font);
                    border: 1px solid var(--basic-font);
                    border-radius: 3px;
                    width: fit-content;
                    margin: 2rem 0;
                  }
          
                  .publishedAt {
                    font-size: 1.2rem;
                    color: var(--basic-font);
                    margin: 2rem 0;
                  }
          
                  .description {
                    font-size: 1.4rem;
                    color: var(--basic-font);
                    margin: 1rem 0;
                  }
                }
              }
            }
          
        }
      

      .emptyContents {
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}