.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .newsContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      width: 100%;
      font-size: 1.2rem;
      color: var(--basic-dark);
      margin-top: 3rem;
      margin-bottom: 5rem;
      border-bottom: 0.5px solid var(--form-color);
      padding: 1rem 0;
    }

    .contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      ul {

        li {
          width: 100%;
          height: 10rem;
          overflow: hidden;
          color: var(--basic-font);
          display: grid;
          grid-template-columns: 35% 65%;
          margin-bottom: 1.5rem;
          border: 1px solid #eee;
          border-radius: 5px;
          box-sizing: border-box;

          img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          .textGroup {
            padding: 1rem;
            height: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            box-sizing: border-box;

            h6 {
              font-size: 1.4rem;
              line-height: 1.2;
              color: var(--main-color);
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              -webkit-box-orient: vertical;
            }

            .date {
              margin: 0.5rem 0;
            }

            p {
              display: none;
              // font-size: 1.1rem;
              // line-height: 1.2;
              // overflow: hidden;
              // text-overflow: ellipsis;
              // display: -webkit-box;
              // -webkit-line-clamp: 1;
              // line-clamp: 2;
              // -webkit-box-orient: vertical;
            }
          }
        }

        &:last-child {
          margin-bottom: 4rem;
        }
      }
    }

    .emptyContents {
      width: 100%;
      height: 30vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.4rem;
      }
    }
  }
}