:root {
  --basic-font: #355e87;
  --basic-dark: #93a8c0;
  --basic-sub: #3e5060;
  --reverse-font: #fff;
  --background: #fff;
  --main-color: #5d91e5;
  --title-color: #2d79c0;
  --form-color: #e7ebf0;
  --shadow-color: #929292;
  --state-new: #62e5b7;
  --state-up: #ff625d;
  --state-down: #3d8bff;
  --square: #355e876f;
  --input-check: #60d375;
  --list-back: #f0f0f0;
  --box-shadow: #9292928f;
}

[data-theme="dark"] {
  --basic-font: #fff;
  --basic-sub: #3e5060;
  --reverse-font: #000;
  --background: #151515;
  --main-color: #fff047;
  --form-color: #e7ebf0;
  --shadow-color: #929292;
}

html {
  font-size: 10px;
}

body {
  background: var(--background);
  color: var(--basic-font);
  line-height: 1.5;
}

/* 태블릿 뷰 */

/* 데스크탑 뷰 */
@media (min-width: 1200px) {
  html {
    width: 50vw; /* Header, MobileNav 의 width 는 별도로 설정 */
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  body {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 2000px) {
  html {
    width: 40vw; /* Header, MobileNav 의 width 는 별도로 설정 */
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  body {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}