:root {
  --basic-font: #000;
  --background: #fff;
  --main-color: #7f23ff;
}

[data-theme="dark"] {
  --basic-font: #fff;
  --background: #151515;
  --main-color: #fff047;
}

html {
  font-size: 10px;
}

body {
  background: var(--background);
}