#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;

  & #logo {
    display: flex;
    color: var(--basic-font);
    font-size: 2rem;
    margin: 1rem 1.5rem;

    & h1 {
      margin-left: 1rem;
    }
  }

  & #menu {
    font-size: 2rem;
    margin: 0 1.5rem;
  }
}